{{!-- A PAGE FOR WEATHER FORECASTS AND OBSERVATIONS --}}

<h1>Tämänhetkiset Säätiedot</h1>

<table>
    <tr>
        <th>Päiväys ja aika</th>
        <th>Lämpötila</th>
        <th>Tuulivektori X</th>
        <th>Tuulivektori Y</th>
    </tr>
</table>
