/*
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
}

.expensive {
    color: crimson;
}

.cheap {
    color: darkgreen;
}

.average {
    color: cornflowerblue;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
  }

tr:nth-child(even){background-color: #989898;}


th {
    padding: 10px;
    color: #1b1b1b;
    background-color: rgba(238, 255, 2, 0.511);
    
}

td {
    
    padding: 8px;
}
/*
